<!--This file contains the base structure about how we want to render our chatroom-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/040d2c67f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="/" class="directory"><i class="fab fa-stack-exchange fa-xl"></i></a>
    {{!-- <a id="current-user-text">Current user: </a> --}}
    <a href="/login" class="login" ><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
    <header class="header-bar"></header>
    {{{ body }}}

    <script>
        let fetchUrl = "http://localhost:3000/getCurrentUser";
        console.log(fetchUrl);
        var currentUser;

        setInterval(async function(){
            fetch(fetchUrl)
            .then(response => response.json())
            .then(data =>{
                var curJson = data;
                var currentUser = document.getElementById('current-user');
                currentUser.innerHTML = curJson.username;
               
            }).catch(err =>{
                console.log("Error when getting current user", err);
            });
        }, 500);
    </script>
</body>
</html>

