<h1> Chatroom Directory </h1>

<div id='chat-directory'>
{{#if isAvailable}}
    {{#each rooms}}
        <a class="chat" href={{this.name}}><btn class="btn btn-chat">{{this.name}}</btn></a>
    {{/each}}
{{/if}}
</div>

<form class = "mainPost" action="/create" method="POST">
<label class="post-item chat-label"><h2>Create New Chatroom</h2></label>
<div class="post-item">
    <input class="chat-name"type="text" name="roomName" placeholder="Please enter a room name"/>
    <input class="btn chat-submit" type="Submit" value="Create New Room"/>
</div>

</form>

<script src="https://twitter.github.io/typeahead.js/js/handlebar.js"></script>
<script>
    window.addEventListener('load', function(){
        setInterval(async function(){
            fetch("http://localhost:3000/getRoom")
            .then(response => response.json())
            .then(data =>{
                var roomJson = data;
                console.log(roomJson);

                var div_element = document.getElementById('chat-directory');
                div_element.innerHTML = ""

                for(var j =0;j<roomJson.length;j++){
                    {{!-- console.log(roomJson[j].name) --}}
                    var a = document.createElement('a');
                    a.href = roomJson[j].name;
                    a.classList.add("chat");
                    var btn_element = document.createElement('btn');
                    var btnTxt = roomJson[j].name;
                    btn_element.innerHTML = btnTxt;
                    btn_element.classList.add("btn");
                    btn_element.classList.add("btn-chat");
                    a.appendChild(btn_element);
                    div_element.appendChild(a);
                }
            }).catch(err =>{
                console.log("Error when rendering rooms", err);
            });
        }, 1000);
    })
</script>