<div class="register-container">
    <h1>Create New Profile</h1>
    <form class="register-form" action="/newProfile" method="POST">
    <div class="register-div">
        <label class="register-label" for="name">Name</label>
        <input class="register-input" type="text" id="name" name="name" required>
    </div>
    <div class="register-div">
        <label class="register-label" for="username">Username</label>
        <input class="register-input" type="text" id="username" name="username" required>
    </div>
    <div class="register-div">
        <label class="register-label" for="email">Email</label>
        <input class="register-input" type="email" id="email" name="email" required>
    </div>
    <div class="register-div">
        <label class="register-label" for="password">Password</label>
        <input class="register-input" type="password" id="password" name="password" required>
    </div>
    <div class="register-div">
        <button class="btn register-btn" type="submit">Register</button>
    </div>
    </form>
    <div class="register-link">
        <a class="register-redirect" href="/login">Login</a>
    </div>
</div>

