/* TODO: style each page */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1{
  text-align: center;
  padding: 10px;
}
  
body {
  font-family: 'Arial', sans-serif;
  background-color:#F3D09E
}

.btn {
  display: inline-block;
  background: #F2B069;
  color: #654E3A;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  display:block;
  margin-right: 0;
  margin-left: auto; 
}
.btn:hover {
  background: #f2a95c;
}

::placeholder{
  color:#654E3A;
}

.btn-chat {
  color: #000;
  background: #DD968E;
  text-align: center;
}

.btn:active {
  background: #e1984be1;
}

.btn-chat:hover {
  background: #CF9181;
}
  
.btn-chat:active {
  background: #B26F60;
}
  
.add-post {
  margin: 40px;
  border: 1px solid #654E3A;
  padding: 10px;
}
    
div.post-item{
  margin: 20px 10px;
}

.chat-label{
  text-align: center;
}

.post-item input {
  text-align: center;
  display: inline-block;
  height: 40px;
  margin: auto;
  padding: 3px 7px;
  font-size: 17px;
}

.chat-name{
  background-color:#e49f67;
  border:0;
  outline:0;
  color: #654E3A;
  width: 75%;
}
.chat-submit{
  width: 22%;
}
  
h2 {
  color: #4B4B4B;
  /* margin-left: 15px; */
  margin-top: 20px;
  padding-top: 20px;
}
 
h5 {
  color:#b64846;
  padding: 5px 0 0 0;
}
 
.holder{
  position: relative;
}
.reply-item {
  margin: 20px 10px;
}
  
.reply-item label {
  display: block;
}
  
.reply-item input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  background-color:#e49f67;
  border:0;
  outline:0;
  color: #654E3A;
}

#display-msg {
  margin: 50px;
}

.post-box {
  padding: 5px;
}

h6 {
  padding: 5px 0px;
}

/*Register Form Styling*/
.register-container {
  background-color: #CA9C75;
  padding: 50px 75px;
  margin: 100px 200px;
}

.register-container h1{
  color: #654E3A;
}

.register-div {
  margin: 20px 10px;
}

.register-label {
  color: white;
  display: block;
  padding-bottom: 5px;
}

.register-input {
  background-color:#FFC699;
  border:0;
  outline:0;
  color: #654E3A;
  padding: 5px;
  width: 100%;
}
.register-btn{
  background: #FFC699;
  color: #956339;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  width: 200px;
}

.register-btn:hover{
  background: #eea771;

}

.register-btn:active{
  background: #f2a061;

}

.register-redirect{
  text-align: center;
}

.register-redirect:active{
  color:#956339;
}

.register-redirect:visited{
  color:#7b4e29;
}

.register-link{
  text-align: center;
}

/* User Sidebar */
.sidebar{
  position: fixed;
  left: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #D67C3E;
  top: 0px;
}

.sidebar-username{
  margin-top:-40px;
  font-size: 15px;
  font-weight: bold;
}

.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #E1904F;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid #8F5E3A;
  border-bottom: 1px solid #814F2F;
}

ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a{
  margin-right: 16px;
}

.sidebar ul{
  height: 100%;
  overflow-y: scroll;
}

#check{
  display:none;
}

label #btn, label #cancel{
  position: fixed;
  cursor: pointer;
  border-radius: 3px;
}

label #cancel{
  background-color:#885877;
}

label #btn{
  left: 40px;
  top:10px;
  font-size: 24px;
  color: #6D4D64;
  padding: 6px 12px;

}

label #cancel{
  z-index: 1111px;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #6D4D64;
  padding: 4px 9px;
}

#check:checked ~ .sidebar{
  left:0;
}

#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 195px;
  z-index: 10000;
}

#check:checked ~ section{
  margin-left:250px;
}

section{
  transition: all .5s;
  margin-top:50px;
}

/* HEADER BAR */
.header-bar{
  background-color: #F1C688;
  position:fixed;
  top: 0; 
  width: 100%;
  height: 50px;
}

/* DIRECTORY */
.directory:visited, .directory:active, 
.return:visited, .return:active{
  color:#6D4D64
}

.directory i{
  position:fixed;
  z-index: 1000;
  top:10px;
  font-size: 24px;
  padding: 6px 12px;
  left: 50%;
  transform: translate(-50%, 10px);
}

.return{
  position:fixed;
  z-index: 1000;
  top:10px;
  right: 40px;
  text-align: right;
  font-size: 24px;
  padding: 6px 12px;
}

.directory-container{
  margin: 60px 50px 0 50px;
  padding: 20px 40px 40px 40px;
  border: 2px solid #AD7652;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #e49f67 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: #654E3A !important;
}

.user-profile{
  text-align: center;
  font-weight: bold;
}

.user-container{
  font-size: 30px;
  color:#4f4032;
  margin: 15px 0 5px 0;
}
.user-username{
  font-size: 15px;
  margin: 15px 0 5px 0;
}

#display-user-msg a:active, a:visited{
  color:#000000;
}

.recent-msg{
  padding-bottom: 10px;
  margin: 10px 0 6px 0;
  border-bottom: 1px solid #a37c5a;
}

.list-item{
  display: flex;
  flex-direction: row;
}

.reply{
  padding-left: 20px;
}

.p1{
  margin: 10px;
}